.pixel{
    /*border: 2px solid red;*/
    padding: 10px;
    margin: 10px;
    width: 300px;
    background-color: lightgrey;
    border-radius: 20px;
    
    
}
body{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
.pixels{
display: grid;
grid-template-columns: auto auto auto ;
margin: 10px;
padding: 10px;

}
.img{
    width: 200px;
    height: 212px;
    /*margin-left: 45px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.img1{
    width: 160px;
    height: 204px;
}
.img3{
    width: 130px;
    height: 200px;
}
.img4{
    width: 240px;
    height: 183px;
}
.img2{
    width: 179px;
    height: 200px;
}
.title{
    /*text-align: center;*/
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
    color: rgb(88, 71, 71);
}
.name{
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    
}
.img:hover{
    transform: scale(1.1);
    cursor: pointer;

}